<!--start: Navbar -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="fa fa-power-off"></i> <span>Go</span>for<span>You's</span>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!--start: Main Navigation Links -->
        <%= navigation_list_item_link_to 'Dashboard', admin_dashboard_index_path %>
        <%= navigation_list_item_link_to 'Orders', admin_orders_path %>
        <%= navigation_list_item_link_to 'Customers', admin_customers_path %>
        <%= navigation_list_item_link_to 'Partners', admin_partners_path %>
        <%= navigation_list_item_link_to 'Stores', admin_stores_path %>
        <!--end: Main Navigation Links -->
      </ul>

      <!-- Settings Menu -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if admin_signed_in? %>
              <li><%= link_to 'Logout', destroy_admin_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Login', new_admin_session_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--end: Navbar -->
