<%= content_for :page_title, "#{@store.name} Inventory" %>

<div class="container">
  <div class="row">
    <div class="admin_pagination">
      <div class="page_info">
        <%= page_entries_info @inventory %>
      </div>

      <div class='page_numbers'>
        <%= will_paginate @inventory, container: false %>
      </div>
    </div>
  </div>
</div>


<ul>
  <% @inventory.each do |i| %>
    <li>
      <b>Name:</b> <%= i.name %><br/>
      <b>Price:</b> <%= i.price %>
    </li>
  <% end %>
</ul>
