<%= content_for :page_title, 'Orders' %>

<div>
  <ul>
    <% @orders.each do |o| %>
      <li>
        <b>Ordered by:</b> <%= link_to o.customer.name, admin_customer_path(o.customer.id) %>
        <b>Delivery by:</b> <%= link_to o.partner.name, admin_partner_path(o.partner.id) %>
        <ol>
          <% o.items.each do |i| %>
            <li>
              <b>Name:</b> <%= i.name %>
              <b>Price:</b> <%= i.price %>
              <b>Store:<b/> <%= link_to i.store.name, 'TODO: link to store' %>
            </li>
          <% end %>
        </ol>
      </li>
    <% end %>
  </ul>
</div>
