<%= content_for :page_title, 'Orders' %>

<div class="container">
  <div class="row">
    <div class="admin_pagination">
      <div class="page_info">
        <%= page_entries_info @orders %>
      </div>

      <div class='page_numbers'>
        <%= will_paginate @orders, container: false %>
      </div>
    </div>
  </div>
</div>

<div class="container content">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Ordered By</th>
        <th>Delivery By</th>
        <th>Items</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |o| %>
        <tr>
          <td><%= o.id %></td>
          <td><%= link_to o.customer.name, admin_customer_path(o.customer.id) %></td>
          <td><%= link_to o.partner.name, admin_partner_path(o.partner.id) %></td>
          <td><%= link_to o.items.count, admin_order_items_path(o.id) %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
