<%= content_for :page_title, "Store: #{@store.name.titleize}" %>

<div class="container content">
  <%= form_for @store, url: admin_store_path(@store) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :address_1 %>
      <%= f.text_field :address_1, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :address_2 %>
      <%= f.text_field :address_2, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :county %>
      <%= f.text_field :county, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :postcode %>
      <%= f.text_field :postcode, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :lat %>
      <%= f.text_field :lat, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :lng %>
      <%= f.text_field :lng, class: 'form-control' %>
    </div>

    <div class="action">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
