<%= content_for :page_title, "Store: #{@store.name.titleize}" %>

<div>
  <%= form_for @store, url: admin_store_path(@store) do |f| %>
    <div><b>Name: </b> <%= f.text_field :name %></div>
    <div><b>Address 1: </b> <%= f.text_field :address_1 %></div>
    <div><b>Address 2: </b> <%= f.text_field :address_2 %></div>
    <div><b>County: </b> <%= f.text_field :county %></div>
    <div><b>Postcode: </b> <%= f.text_field :postcode %></div>
    <div><b>Lat: </b> <%= f.text_field :lat %></div>
    <div><b>Lng: </b> <%= f.text_field :lng %></div>

    <%= f.submit %>
  <% end %>
</div>
