<!-- start: Slider -->
<div class="slider-wrapper">
  <div id="da-slider" class="da-slider">
    <div class="da-slide">
      <h2>How it works</h2>
      <p>The aim of GoForUs is to give people the ability to gain delivery from shops, restaurants and other companies that do not offer delivery through their own devices.</p>
      <%= link_to 'find out more', '#', class: 'da-link'%>
      <div class="da-img"></div>
    </div>

    <div class="da-slide">
      <h2>Become a Partner</h2>
      <p>Become one of our first independant Partners and you'll find yourself earning your own money in no time!</p>
      <%= link_to 'find out more', base_application.become_partner_path, class: 'da-link'%>
      <div class="da-img"></div>
    </div>
    <nav class="da-arrows">
      <span class="da-arrows-prev"></span>
      <span class="da-arrows-next"></span>
    </nav>
  </div>
</div>
<!-- end: Slider -->

<hr/>

<!--start: Container -->
<div class="container">
  <div class="row">
    <!-- start: Lastest Updated -->
    <div class="col-sm-8">
      <div class="title"><h3>Lastest Updates</h3></div>
    </div>
    <!-- end: Lastest Updates -->

    <div class="col-sm-4">
      <!-- start: Stay Connected Social-->
      <div id="stay-connected">
        <div class="title"><h3>Stay Connected</h3></div>

        <ul class="social-grid center-block">
          <li>
          <div class="social-item">
            <div class="social-info-wrap">
              <div class="social-info">
                <div class="social-info-front social-twitter">
                </div>
                <div class="social-info-back social-twitter-hover">
                  <%= link_to 'https://www.twiter.com/shoutsid06', target: '_BLANK' do %>
                    <i class="fa"></i>
                <% end %>
                </div>
              </div>
            </div>
            </li>
            <li>
            <div class="social-item">
              <div class="social-info-wrap">
                <div class="social-info">
                  <div class="social-info-front social-facebook">
                  </div>
                  <div class="social-info-back social-facebook-hover">
                    <%= link_to 'https://www.facebook.com/goforus.ltd/', target: '_BLANK' do %>
                      <i class="fa"></i>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
            </li>
            <li>
            <div class="social-item">
              <div class="social-info-wrap">
                <div class="social-info">
                  <div class="social-info-front social-github">
                  </div>
                  <div class="social-info-back social-github-hover">
                    <%= link_to 'https://www.github.com/pbc-ltd', target: '_BLANK' do %>
                      <i class="fa"></i>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
            </li>
          </ul>
        </div>
        <!-- end: Stay Connected Social-->

        <!-- start: Testimonials-->
        <div class="testimonial-container">
          <div class="title"><h3>What Customers Say</h3></div>
          <div class="testimonials-carousel" data-autorotate="3000">
            <ul class="carousel">
              <li class="testimonial">
              <div class="testimonials"></div>
              <div class="testimonials-bg"></div>
              <div class="testimonials-author">Joe Blogs, <span>Customer</span></div>
              </li>

              <li class="testimonial">
              <div class="testimonials"></div>
              <div class="testimonials-bg"></div>
              <div class="testimonials-author">Joe Blogs, <span>Customer</span></div>
              </li>
            </ul>
          </div>
        </div>
        <!-- end: Testimonials-->

      </div>

      <hr>

      <!-- start Clients List -->
      <!--<div class="clients-carousel">
    <ul class="slides clients">
      <li><%= image_tag("logos/1.png") %></li>
      <li><%= image_tag("logos/2.png") %></li>
      <li><%= image_tag("logos/3.png") %></li>
      <li><%= image_tag("logos/4.png") %></li>
      <li><%= image_tag("logos/5.png") %></li>
      <li><%= image_tag("logos/6.png") %></li>
      <li><%= image_tag("logos/7.png") %></li>
      <li><%= image_tag("logos/8.png") %></li>
      <li><%= image_tag("logos/9.png") %></li>
      <li><%= image_tag("logos/10.png") %></li>
      <li><%= image_tag("logos/1.png") %></li>
      <li><%= image_tag("logos/2.png") %></li>
      <li><%= image_tag("logos/3.png") %></li>
      <li><%= image_tag("logos/4.png") %></li>
      <li><%= image_tag("logos/5.png") %></li>
      <li><%= image_tag("logos/6.png") %></li>
      <li><%= image_tag("logos/7.png") %></li>
      <li><%= image_tag("logos/8.png") %></li>
      <li><%= image_tag("logos/9.png") %></li>
      <li><%= image_tag("logos/10.png") %></li>
    </ul>
  </div>-->
      <!-- end Clients List -->

      <hr>
    </div>
  </div>
</div>
