<% content_for :page_title do %>
  <i class="fa fa-pencil"></i>  Blog
<% end %>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <% if admin_signed_in? %>
          <%= link_to 'Create Post', base_application.new_admin_post_path, class: 'btn btn-primary' %>
        <% end %>

        <% if params[:tag] %>
          <h2 class="blogit_header--page">
            <%= t(:showing_posts_tagged_with, scope: "blogit.posts", tag: params[:tag])  %>
          </h2>
        <% end %>

        <% if @posts.any? %>
          <%= render partial: "blogit/posts/post",
            collection: @posts,
            locals: {
              show_comments_count: (Blogit.configuration.include_comments == :active_records)
            }  %>
        <% else %>
          <%= render partial: "blogit/posts/empty" %>
        <% end %>
      </div>

      <!-- start: Sidebar -->
      <div class="col-sm-3 hidden-phone">
        <!-- start: Tags -->
        <div class="widget">
          <div class="title">
            <h3>Tags<span style="margin-left: 10px;"><%= link_to 'reset', blog_application.posts_path, class: 'btn btn-xs btn-info' %></span></h3>
          </div>
          <div class="tags">
            <% ActsAsTaggableOn::Tagging.includes(:tag).all.where(context: 'tags').uniq.pluck(:name).each do |_tag| %>
              <%= link_to _tag, blog_application.tagged_blog_posts_path(tag: _tag) %>
            <% end %>
          </div>
        </div>
        <!-- end: Tags -->

      </div>
      <!-- end: Sidebar -->
    </div>

    <%= render "pagination" %>
  </div>
</div>
