<!--start: Navbar -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to base_application.root_path, class: 'navbar-brand' do %>
        <%= image_tag 'pbc-logo.PNG', width: '20%' %> <span>Go</span>for<span>Us</span>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-navigation">
      <ul class="nav navbar-left navbar-nav">
        <%= navigation_list_item_link_to 'Home',    base_application.root_path %>
        <%= navigation_list_item_link_to 'Partners', base_application.become_partner_path %>
        <%= navigation_list_item_link_to 'Blog',    blog_application.blog_root_path %>
        <%= navigation_list_item_link_to 'About',   base_application.about_path %>
        <%= navigation_list_item_link_to 'Contact', base_application.contact_path %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
<!--end: Navbar -->
