<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>GoForUs | Admin</title>
    <%= csrf_meta_tags %>

    <meta name="googlebot" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag  'bootstrap1' %>
    <%= stylesheet_link_tag  'style' %>
    <%= stylesheet_link_tag  'parallax-slider' %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <%= javascript_include_tag 'respond.min' %>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
  </head>

  <body>
    <%= render 'admin/navigation' %>

    <% unless yield(:page_title).empty? %>
      <!-- start: Page Title-->
      <div id="container-top"></div>
      <div id="page-title">
        <div id="page-title-inner">
          <div class="container">
            <h2><%= yield :page_title %></h2>
          </div>
        </div>
      </div>
      <div id="container-bottom"></div>
      <!-- end: Page Title-->
    <% end %>

    <%= yield %>

    <!-- start: Java Script -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'jquery-1.9.1.min' %>
    <%= javascript_include_tag 'bootstrap' %>
    <%= javascript_include_tag 'jquery.isotope.min' %>
    <%= javascript_include_tag 'jquery.imagesloaded' %>
    <%= javascript_include_tag 'flexslider' %>
    <%= javascript_include_tag 'carousel' %>
    <%= javascript_include_tag 'jquery.cslider' %>
    <%= javascript_include_tag 'slider' %>
    <%= javascript_include_tag 'jquery.fancybox' %>

    <%= javascript_include_tag 'excanvas' %>
    <%= javascript_include_tag 'jquery.flot' %>
    <%= javascript_include_tag 'jquery.flot.pie.min' %>
    <%= javascript_include_tag 'jquery.flot.stack' %>
    <%= javascript_include_tag 'jquery.flot.resize.min' %>

    <%= javascript_include_tag 'custom' %>
    <!-- end: Java Script -->
  </body>
</html>
